body{
    display:flex;
    background-color: #e5ebea;
    flex-direction: column;
    margin:0;
    align-items: center;
}
div{
    text-align: center;
    font-family: 'verdana';
    display:flex;
    justify-content: center;
    align-items: center;
}
#top-bar{
    width:100%;
    height:50px;
    background-color: #b098a4;
    display:flex;
    justify-content: space-evenly;
}
.bar-element{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    flex:1;
}
#part1{
    background-color: #747572;
}
#tutorial-video{
    width: 560px;
    height:315px;
    background-color: #dbd9db;
    border-radius:20px;
    margin-top:50px;
}

